body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    /* Disable scrolling for the entire body */
}

.navbar-toggler {
    border: none;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    height: 100vh;
    background-color: #243758 !important;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.bg-dark {
    background-color: #243758 !important;
}

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}


/* Menu item */

#sidebar-container .list-group a {
    height: 50px;
    color: #adb5bd;
    background-color: #243758;
    /* Ensure background color matches the sidebar */
    transition: background-color 0.3s ease;
}

#sidebar-container .list-group a:hover {
    background-color: #172b4f !important;
    /* Change background color on hover */
    color: #fff;
    /* Optionally, change text color on hover */
}

#sidebar-container .list-group a.active,

/* Active state for selected menu item */

#sidebar-container .list-group a:focus {
    background-color: #172b4f !important;
    /* Keep the hover color for active/focused state */
    color: #fff !important;
    /* Ensure text color is white for readability */
}


/* Submenu item */

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}


/* Separators */

.sidebar-separator-title {
    background-color: #343a40;
    height: 35px;
}

.sidebar-separator {
    background-color: #343a40;
    height: 25px;
}

.logo-separator {
    background-color: #343a40;
    height: 60px;
}


/* Closed submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}


/* Opened submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.main-content {
    transition: margin-left 0.3s;
    padding-left: 15px;
    flex-grow: 1;
}

.main-content.collapsed {
    margin-left: 60px;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: -webkit-fill-available;
}

.main h2 {
    color: #4caf50;
    margin-bottom: 20px;
}

.mt-auto {
    margin-top: auto;
}

button#sidebarToggle {
    color: #adb5bd;
}

nav#sidebar-container {
    font-size: 17px;
    font-weight: 500;
}

li.list-group-item.sidebar-separator-title.text-muted.d-flex.align-items-center.menu-collapsed.company-logo {
    height: auto;
}

span.comapny-name {
    font-size: 100%;
    font-weight: 800;
    color: #c6cfd7;
}

.list-group-item.active {
    border-color: #172b4f;
}

/* Loading screen styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    color: #172b4f;
  }

/* Success message popup styles */
@keyframes slideIn {
    from {
      right: -300px;
      opacity: 0;
    }
    to {
      right: 20px;
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      right: 20px;
      opacity: 1;
    }
    to {
      right: -300px;
      opacity: 0;
    }
  }
  
  .success-message{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1050;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-color: #9ef19c;
    color: #073306;
    border: 1px solid #9ef19c;
  }
  
  .success-message.show {
    display: block;
    animation-name: slideIn;
  }
  
  .success-message.hide {
    animation-name: slideOut;
  }
  /* Error message popup styles */