<div class="offcanvas offcanvas-right" id="offcanvasRight">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Add Project</h5>
        <button type="button" class="close" data-dismiss="offcanvas" aria-label="Close" id="closeProjectCanvas">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="offcanvas-body">
        <form>
            <div class="form-group">
                <label for="projectNumber">Project Number</label>
                <input type="text" class="form-control" id="projectNumber" placeholder="Enter project number">
            </div>
            <div class="form-group">
                <label for="projectName">Project Name</label>
                <input type="text" class="form-control" id="projectName" placeholder="Enter project name">
            </div>
            <div class="form-group">
                <label for="projectDescription">Project Description</label>
                <textarea class="form-control" id="projectDescription" rows="3" placeholder="Enter project description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="addProjectAddButton">Save</button>
            <button type="button" class="btn btn-secondary" id="addProjectCancelButton">Cancel</button>
        </form>
    </div>
</div>
