{% extends 'backend/base/base.html' %}
{% load static %}
{% block title %}Update Client - Project Management{% endblock %}

{% block extra_head_add %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/client/addclient.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h4 class="add-edit-header">Update Client</h4>
        <div class="button-group">
            <a href="{% url 'clientsList' %}" id="cancelButton" class="btn btn-primary">Cancel</a>
            <button type="submit" form="updateClientForm" id="submitButton" class="btn btn-primary">Update</button>
        </div>
    </div>
    <div class="edit-client-form">
        <div class="main">
            <form id="updateClientForm" method="POST" action="{% url 'updateClient' client.id %}">
                {% csrf_token %}
                <input type="hidden" id="clientId" name="clientId" value="{{ client.id }}">

                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{ client.name }}" required/>

                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ client.email }}" required/>

                <label for="mobile">Mobile:</label>
                <input type="text" class="form-control" id="mobile" name="mobile" value="{{ client.mobile }}" required/>

                <label for="address">Address:</label>
                <textarea class="form-control" id="address" name="address" rows="3" maxlength="255">{{ client.address }}</textarea>
        
                <label for="description">Additional Detail:</label>
                <textarea class="form-control" id="description" name="description" rows="3" maxlength="255">{{ client.description }}</textarea>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_loading_screen %}
    <!-- Loading Screen -->
    <div id="loadingScreen" class="loading-screen" style="display: none;">
        <div class="spinner-border" role="status"></div>
    </div>
{% endblock %}

{% block extra_alert_message %}
    <div id="successMessage" class="success-message">Update</div>
{% endblock %}

{% block extra_script_add %}
    <script src="{% static 'app/javaScript/client/updateClient.js' %}"></script>
{% endblock %}
