{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Project Management</title>
		<link rel="shortcut icon" href="{% static 'media/images/logo.png' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'lib/cdn/font/node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
		<script src="{% static 'lib/js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'app/jQuery/login.js' %}"></script>
	</head>
	<body class="bg-white">
		<div class="container-fluid vh-100">
			<div class="row vh-100">
				<div class="col-lg-6 bg-gray p-5 text-center">
					<h4 class="text-center fw-bolder fs-2">Project Management</h4>
					<div class="img-cover p-4">
						<img src="{% static 'media/images/loginbg.svg' %}" alt="">
					</div>
				</div>
				<div class="col-lg-6 p vh-100">
					<div class="row d-flex vh-100">
						<div class="col-md-8 p-4 ikigui m-auto text-center align-items-center">
							<h4 class="text-center fw-bolder mb-4 fs-2">Login</h4>
							<form autocomplete="off" method="post">
								{% csrf_token %}
								<div class="input-group mb-4">
									<span class="input-group-text border-end-0 inbg" id="basic-addon1">
										<i class="bi bi-person"></i>
									</span>
									<input type="text" class="form-control ps-2 border-start-0 fs-7 inbg form-control-lg mb-0" placeholder="Enter Username" aria-label="Username" aria-describedby="basic-addon1" id="username" name="username">
								</div>
								<div class="input-group mb-4">
									<span class="input-group-text border-end-0 inbg" id="basic-addon1">
										<i class="bi bi-lock"></i>
									</span>
									<input type="password" class="form-control ps-2 fs-7 border-start-0 form-control-lg inbg mb-0" placeholder="Enter Password" aria-label="Password" aria-describedby="basic-addon1" id="password" name="password">
								</div>
								<button type="button" class="btn btn-lg fw-bold fs-7 btn-success w-100" id="loginButton">Login</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
