{% extends 'backend/base/base.html' %}
{% load static %}
{% block title %}Update User - Project Management{% endblock %}

{% block extra_head_add %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/adduser.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h4 class="add-edit-header">Update User</h4>
        <div class="button-group">
            <a href="/users/" id="cancelButton" class="btn btn-primary">Cancel</a>
            <button type="submit" form="updateUserForm" id="submitButton" class="btn btn-primary">Update</button>
        </div>
    </div>
    <div class="edit-user-form">
        <div class="main">
            <form id="updateUserForm" autocomplete="off" method="POST">
                {% csrf_token %}
                <input type="hidden" id="userId" value="{{ user.id }}">
                
                <label for="updateFirstName">First Name:</label>
                <input type="text" id="updateFirstName" name="firstName" value="{{ user.firstName }}" required/>

                <label for="updateLastName">Last Name:</label>
                <input type="text" id="updateLastName" name="lastName" value="{{ user.lastName }}" required/>

                <label for="updateEmpID">Employee ID:</label>
                <input type="text" id="updateEmpID" name="empID" value="{{ user.empID }}" required/>

                <label for="updateEmail">Email:</label>
                <input type="text" id="updateEmail" name="email" value="{{ user.email }}" required/>

                <label for="updateRoleID">Role:</label>
                <select id="updateRoleID" name="roleID" required>
                    {% for role in roles %}
                        <option value="{{ role.id }}" {% if user.roleID.id == role.id %}selected{% endif %}>{{ role.snippet }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_loading_screen %}
    <!-- Loading Screen -->
    <div id="loadingScreen" class="loading-screen" style="display: none;">
        <div class="spinner-border" role="status"></div>
    </div>
{% endblock %}

{% block extra_alert_message %}
    <div id="successMessage" class="success-message">Update</div>
{% endblock %}

{% block extra_script_add %}
<script src="{% static 'app/javaScript/updateUser.js' %}"></script>
{% endblock %}
