{% extends 'backend/base/base.html' %}
{% load static %}
{% block title %}Users - Project Management{% endblock %}

{% block extra_head_add %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/user/users.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mt-4">
    <h4 class="users-header">Users ({{ userData|length }})</h4>
    <a href="/adduser/" id="addUserButton" class="btn btn-primary">Add User</a>
</div>
<div class="table-responsive">
    <table id="userTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Empl.ID</th>
                <th>E-Mail</th>
                <th>Role</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in userData %}
            <tr class="row1">
                <td scope="row">{{ forloop.counter }}</td>
                <td class="column0 style0 s">{{ user.firstName }}</td>
                <td class="column0 style0 s">{{ user.lastName }}</td>
                <td class="column0 style0 s">{{ user.empID }}</td>
                <td class="column0 style0 s">{{ user.email }}</td>
                <td class="column0 style0 s">{{ user.roleID.snippet }}</td>
                <td class="column0 style0 s">
                    <div class="checkbox-container">
                        <input type="checkbox" disabled {% if user.activate %}checked{% endif %}>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="dropbtn" onclick="toggleDropdown(this)">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#" onclick="viewItem('{{ user.id }}')">
                                <i class="bi bi-eye-fill">View</i>
                            </a>
                            <a href="#" onclick="editItem('{{ user.id }}')">
                                <i class="bi bi-pencil-fill">Edit</i>
                            </a>
                            <a href="#" onclick="deleteItem('{{ user.id }}')">
                                <i class="bi bi-trash3-fill">Delete</i>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="pagination">
    <div id="entriesDisplayDiv">
        Showing
        <span id="from"></span>
        to
        <span id="to"></span>
        out of
        <span id="totalTableEntries"></span>
        entries
    </div>
    <div id="pageNumbersContainer">
        <div id="pageNumbers"></div>
        <div id="goToPage">Go to Page
            <input id="pageNumberInput" type="number"><button id="goToPageButton">Confirm</button>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Are you sure you want to delete ?</p>
      <div class="modal-buttons">
        <button id="confirmDeleteButton" class="btn btn-danger">Delete</button>
        <button id="cancelDeleteButton" class="btn btn-secondary">Cancel</button>
      </div>
    </div>
</div>

{% endblock %}

{% block extra_script_add %}
<script src="{% static 'app/javaScript/user/users.js' %}"></script>
{% endblock %}
