{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Project Management{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'media/images/logo.png' %}" type="image/x-icon">
    <link href="{% static 'bootstrap/4.5.3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/base/base.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/4.5.3/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/cdn/font/node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
    {% block extra_head_add %}{% endblock %}
</head>
<body>
    <div class="d-flex" id="body-row">
        <nav id="sidebar-container" class="sidebar-expanded d-md-block bg-dark">
            {% include 'backend/base/navigation.html' %}
        </nav>
        <main role="main" class="col p-4 main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
    <script src="{% static 'app/javaScript/base/base.js' %}"></script>
    
    {% block extra_loading_screen %}
    {% endblock %}

    {% block extra_alert_message %}
    {% endblock %}

    {% block extra_script_add %}
    {% endblock %}
    
</body>
</html>
