.add-user-form {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: -webkit-fill-available;
    position: relative;
}

.add-user-header {
    font-weight: bold;
}

.button-group {
    display: flex;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button#submitButton {
    width: 150px;
}

a#cancelButton {
    width: 150px;
    border: 2px solid #b2c0ce;
    color: #007bff;
    background-color: transparent;
    text-align: center;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a#cancelButton:hover {
    background-color: #007bff;
    color: #fff;
}