/* static/css/home.css */

body {
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* Disable scrolling for the entire body */
}

.navbar-toggler {
    border: none;
}

.sidebar {
    background-color: #343a40;
    color: #fff;
    height: 100vh; /* Full height of the viewport */
    transition: all 0.3s;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent scrolling within the sidebar */
}

.sidebar .nav-link {
    color: #adb5bd;
}

.sidebar .nav-link:hover {
    color: #fff;
}

.sidebar.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
}

.main-content {
    transition: margin-left 0.3s;
    padding-left: 15px;
    flex-grow: 1;
}

.main-content.collapsed {
    margin-left: 0;
}

.submenu {
    padding-left: 1.5rem;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: -webkit-fill-available;
}

.main h2 {
    color: #4caf50;
    margin-bottom: 20px;
}

.mt-auto {
    margin-top: auto;
}

ul.nav.flex-column.logout {
    margin-bottom: 50px;
}
